html{
  box-sizing: border-box;
  font-size: 1px;
}
:root {
  --grey-text: #6C6C7D;
  --grey-light: #BDBDC4;
  --blue-deep: #1B1A34;
  --blue-link: #505DD1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;  font-size: 16rem;
  width: 100%;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  width: 100%;
  height: 90%;
  margin: 10%;
  position: relative;
}
header {
  text-align: center;
  font-size: 24rem;
  font-weight: bold;
  line-height: 28rem;
  color: #000000;
  margin: 2em 0 1em 0;
}
.login-info {
  text-align: center;
  font-size: 16rem;
  color: #6C6C7D;
  margin-bottom: 18rem;
}
.login-form {
  margin: 0 0 2.2em 0;
}
label {
  font-family: inherit;
  display: block;
  font-size: 16rem;
  font-weight: bold;
  line-height: 1.5;
}
input {
  font-family: inherit;
  display: block;
  width: 100%;
  margin-bottom: 2.2em;
  padding: 1.2em;
  border-radius: 10px;
}
input[type=text], input[type=password] {
  transition: 0.1s ease-in-out;
  border: 2px solid var(--grey-light);
  color: var(--grey-text);
}
input:focus {
  outline: 0;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
}
input[type=submit] {
  border: 0;
  color: #ffffff;
  background-color: var(--blue-deep);
  cursor: pointer;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--blue-link);
}
.link-admin {
  color: var(--blue-link);
  font-size: 18rem;
  margin-bottom: 2.6em;
}
.copyright {
  color: var(--grey-text);
}
/*========*/
/* PORTAL */
/*========*/
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin--btn-layout {
  flex-wrap: wrap;
  
}
.btn {
  border: 4px solid var(--blue-deep);
  color: var(--blue-deep);
  background-color: #ffffff;
  cursor: pointer;
  padding: 0.9em;
  font-size: 1.2em;
  border-radius: 10px;
  margin: 0.5em 0 0.5em 0;
}
.onebytwo {
  flex: 1 1 auto;
}
.one {
  flex: 1 0 100%;
}
.left-btn {
  margin-right: 1em;
}
i {
  float: left;
}
/*-----*/
/*MODAL*/
/*------/
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.modal--container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, .8);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  bottom: 0;
  background-color: #fefefe;
  margin-bottom: 30px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .2);
  width: 100%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}